* {
  padding: 0;
  margin: 0;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-display-wrap {
  display: none;
}

$primary-color: #e3eded;
$dark-gray: #333;

// layout
$header-height: 2.5rem;
$rowpanel-height: 7rem;

// typography
$base-font-size: 16px;
$base-font-family: Helvetica, sans-serif;
