html,
body {
  height: 100vh;
  font-size: $base-font-size;
  font-family: $base-font-family;
}

.l-gridwrap {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: $header-height $rowpanel-height auto;
  height: 100%;
}

.l-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.l-rowPanel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: $primary-color;
  border: 0px solid $primary-color;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: border 0.25s ease-in;
}

.l-statPanel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  // background-color: #eee;
  border-right: 1px solid $dark-gray;
  color: #333;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3rem 7rem auto;
}

.l-mainPanel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  overflow: scroll;
}
