@import 'global';
@import 'layout';
@import 'modules';

/* ---- main image display -------------------- */
#fileDisplayImage {
  max-width: 100%;
  display: block;
  position: relative;
}

/* ---- states ------------------------ */
.is-value-not-set {
  font-style: italic;
}

.is-open {
  display: block;
}

.is-selectable-for-target {
  border-top: 4px solid #9cd8d8;
  border-bottom: 4px solid #9cd8d8;
}

/* ---- quick modifiers (used in content blocks)------------------------ */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}

.mr-10px {
  margin-right: 10px;
}

.m10 {
  margin: 10px;
}
